<div class="wrap4">
	<div class="nav6">
		<dl class="left" ng-click="toggle1()">
			<a href="#/">
			<dd>
				《
			</dd>
			</a>
		</dl>
		<span><img src="images/search.png"/><input type="text" placeholder="请输入商品名称" ng-model="test"/></span>
		<dl class="right"  ng-click="toggle()">
			<dt></dt>
			<dd>
				<a href="">搜索</a>
			</dd>
		</dl>
	</div>
	<div class="ss1"  ng-hide="able">
		<div class="hide">
			<div class="ser">
				<p>热门搜索</p>
				<span>保暖内衣</span>
				<span>饼干</span>
				<span>保温杯</span>
				<span>女装</span>
				<span>奶粉</span>
			</div>
			<div class="record">
				<p>历史记录</p>
				<span ng-repeat="obj in data" ng-click="toggle()">{{obj}}</span>
			</div>
			<div class="search">
				<button ng-click = "none()">清空历史</button>
			</div>
		</div>
	</div>
	<div class="ss2" ng-show="able">
		<div class="da1">
			<p>暂时没搜到<span>"{{testdata}}"</span>相关商品</p>
			<p>您可以更换其他关键词试试看</p>
		</div>
		<div class="da2">
			<dl ng-repeat = "shopw in products">
				<dt><img ng-src="{{shopw.mainPictureJPG}}"/></dt>
				<p class="p1">{{shopw.chName}}</p>
				<p class="p2"><span class="sp1">精选</span><span class="sp2">买一赠一</span></p>
				<p class="p3">{{shopw.columnNo}}</p>
				<dd>￥ {{shopw.sellingPrice}} <span>￥ {{shopw.limitcoupon}}</span></dd>
				<span ng-click="addProduct2Cart(shopw)"><img src="images/shi.png" class="jia" /></span>
			</dl>
		</div>
	</div>
</div>
